{% extends "main/base.html" %}
{% block content %}
	<article class="media content-section">
		<div class="media-body">
			<h4 class="text-muted mt-2">FAQ</h4>
			<br>

			<div class="accordion" id="accordionExample">
			  <div class="card mt-2">
			    <div class="card-header" id="headingOne">
			      <h2 class="mb-0">
			        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			          Lorem ipsum blandit pretium at interdum tellus blandit inceptos class cras fringilla fame?
			        </button>
			      </h2>
			    </div>
			    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			      <div class="card-body ml-4">
			        Sollicitudin netus maecenas interdum aenean primis eget habitant dictumst eleifend aenean, vehicula iaculis adipiscing class blandit aenean et imperdiet nostra ut nec.
			      </div>
			    </div>
			  </div>

			  <div class="card mt-2">
			    <div class="card-header" id="headingTwo">
			      <h2 class="mb-0">
			        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			          Adipiscing himenaeos posuere conubia gravida sit senectus aliquet
			        </button>
			      </h2>
			    </div>
			    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
			      <div class="card-body ml-4">
			        Amet enim senectus lectus id torquent aliquam aenean, placerat varius elit vivamus fames leo metus felis quis senectus varius faucibus dui fames fringilla rutrum torquent ante nullam.
			      </div>
			    </div>
			  </div>

			  <div class="card mt-2 mb-4">
			    <div class="card-header" id="headingThree">
			      <h2 class="mb-0">
			        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			          Sit aenean scelerisque primis aptent dictum aptent neque, senectus at viverra massa nostra leo ornare ac?
			        </button>
			      </h2>
			    </div>
			    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
			      <div class="card-body ml-4">
			        Quam velit cras dictum lacus volutpat tristique hendrerit ultrices neque sagittis luctus, leo integer arcu curae cras tincidunt donec ut varius est ullamcorper, aliquam libero tempor hac venenatis lectus etiam potenti per sapien.
			      </div>
			    </div>
			  </div>
			</div>

		</div>
	</article>
{% endblock content %}