{% extends "main/base.html" %}
{% block script %}
<style>
	img {
		display: inline-block;
	    width: 50%;
	    height: auto;
	}
</style>
{% endblock script %}

{% block content %}
	<article class="media content-section">
		<div class="media-body">
			<h4 class="text-muted mt-2"> About </h4>
			<p>Lorem ipsum eros mi elementum metus non euismod conubia luctus a etiam fermentum suspendisse, integer fermentum amet mi justo nisl elementum ornare sodales pellentesque ipsum.</p>
			<p>Pulvinar aenean imperdiet blandit imperdiet conubia arcu sociosqu curae facilisis, mi porta bibendum justo bibendum nec congue dolor vehicula eros, condimentum primis feugiat hendrerit etiam dapibus luctus elementum.</p>
			<p>Sed praesent pharetra vehicula consectetur euismod rhoncus habitant, praesent conubia ut quisque elit tortor, imperdiet aptent fusce nam consequat sem.</p>
			<p>Sem pulvinar himenaeos hendrerit bibendum euismod nostra cubilia felis, rhoncus ultrices magna posuere congue non pharetra ultrices convallis, faucibus aptent risus nullam venenatis leo laoreet.</p>
			<p>Aliquet augue senectus dictumst lobortis fringilla maecenas condimentum ante, duis hendrerit venenatis aptent purus metus ullamcorper quisque, molestie adipiscing enim himenaeos euismod donec cras.</p>
		</div>
	</article>
{% endblock content %}